@using System.Security.Policy
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MyTeam.Resources
@using MyTeam.ViewModels.RemedyRate
@model MyTeam.ViewModels.RemedyRate.IndexViewModel

@{
    ViewBag.Title = "Bøtesatser";
}
<div class="mt-main">
    <div class="mt-container">
        <ul class="nav nav-pills mt-justified">
            <li class=""><a href="/intern/boter/oversikt" ><i class="fa fa-bar-chart"></i>&nbsp;Oversikt</a></li>
            <li class=""><a href="/intern/boter/vis"><i class="@Icons.Fine"></i>&nbsp;Alle bøter</a></li>
            <li class="active"><a asp-action="index" asp-controller="remedyrate"><i class="fa fa-usd"></i>&nbsp;Bøtesatser</a></li>
            @if (Context.UserIsInRole(Roles.Finemaster))
            {
                <li><a asp-action="index" asp-controller="payment"><i class="@Icons.Payment"></i>&nbsp;Innbetalinger</a></li>
            }
        </ul>
        <br />
        @if (Context.UserIsInRole(Roles.Finemaster))
        {
            <div class="fine-paymentinfo fine-paymentinfo--xs">
                <h4>Betalingsinformasjon</h4>
                <textarea class="form-control ajax-update" data-href="@Url.Action("SetPaymentInfo", "Fine")" type="text" placeholder="Bøter kan betales med Vipps til .....">@Model.PaymentInfo</textarea>
                <br />
            </div>
         }

        <table class="fine-rates table tablesorter col-xs-12">
            <thead>
                <tr>
                    <th>@Res.Name</th>
                    <th>@Res.Description</th>
                    <th>Sats</th>
                    @if (Context.UserIsInRole(Roles.Finemaster))
                    {
                        <th class="nosort"></th>
                    }
                </tr>
            </thead>
            <tbody id="fine-rates-tbody">
                @foreach (var rate in Model.RemedyRates)
                {
                  @Html.Partial("_ShowRate", rate)

                }
            </tbody>
        </table>
    </div>
    @if (Context.UserIsInRole(Roles.Finemaster))
    {
       @Html.Partial("_AddRate", new RemedyRateViewModel())
    }

</div>

 @if (Context.UserIsInRole(Roles.Finemaster))
    {
<div class="mt-sidebar">
    <div class="mt-container">
        <div class="fine-paymentinfo">
            <h4>Betalingsinformasjon</h4>
            <textarea class="form-control ajax-update" data-href="@Url.Action("SetPaymentInfo", "Fine")" type="text" placeholder="Bøter kan betales med Vipps til .....">@Model.PaymentInfo</textarea>
        </div>
    </div>
</div>
}