@using System.Threading.Tasks
@using MyTeam.Models.Shared
@model MyTeam.ViewModels.Stats.StatsViewModel
@{
    ViewBag.Title = Res.Stats;
}


<div class="mt-main">
    <div class="mt-container">
        <div class="row">
            @if (Model.Teams?.Count() > 1)
            {
                <div class="stats-teamNav">
                    <ul class="nav nav-pills mt-justified">
                        @foreach (var team in Model.Teams)
                        {
                            <li class="@(Model.Team == team.ShortName ? "active" : "")"><a asp-controller="stats" asp-action="index" asp-route-lag="@team.ShortName" asp-route-aar="@Model.SelectedYear"><i class="hidden-xs flaticon-football43"></i> <span class="hidden-xs">@team.Name</span><span class="visible-xs">@team.ShortName</span></a></li>
                        }
                        <li class="@(Model.Team == "total" ? "active" : "")"><a asp-controller="stats" asp-action="index" asp-route-lag="total" asp-route-aar="@Model.SelectedYear">Samlet</a></li>
                    </ul>
                </div>
            }
            @if (Model.Years.Any())
            {
                <div class="stats-yearNav--mobile">

                        <select class="linkSelect form-control pull-right hidden-md hidden-lg">
                            @foreach (var year in Model.Years)
                            {
                                <option value="@Url.Action("Index", "Stats", new {lag = Model.Team, aar = year})" selected="@(Model.SelectedYear == year)">@year</option>
                            }
                            <option value="@Url.Action("Index", "Stats", new {lag = Model.Team, aar = 0})" selected="@(Model.SelectedYear == 0)" >Total</option>
                        </select>
                    </div>
            }
        </div>
    </div>

    <div class="mt-container">
        <table class="table tablesorter attendance-table">
            <thead>
            <tr>
                <th>@Res.Player</th>
                <th class="score"><i title="Kamper" class="@Icons.Player"></i></th>
                <th class="score"><i title="Mål" class="@Icons.Goal"></i></th>
                <th class="score"><i title="Assists" class="@Icons.Assist"></i></th>
                <th class="score"><span><i title="Gule kort" class="@Icons.YellowCard"></i></span></th>
                <th class="score"><span><i title="Røde kort" class="@Icons.RedCard"></i></span></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var player in Model.Players)
            {
                <tr>
                    <td class="attendance-player-image">
                        <span class="attendance-playerImageContainer">
                            <img src="@Context.Cloudinary().MemberImage(player.Image, player.FacebookId, 50, 50)"/>&nbsp;
                        </span>
                        <a asp-controller="player" asp-action="show" asp-route-name="@player.UrlName">
                            @player.Name
                        </a>
                    </td>
                    <td class="score">@player.Games</td>
                    <td class="score">@player.Goals</td>
                    <td class="score">@player.Assists</td>
                    <td class="score">@player.YellowCards</td>
                    <td class="score">@player.RedCards</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>





@if (Model.Years?.Any() == true)
{
    <div class="mt-sidebar">
        <div class="mt-container">
            <ul class="nav nav-list">
                <li class="nav-header">@Res.Season.Pluralize()</li>
                @foreach (var year in Model.Years)
                {
                    <li><a class="@(Model.SelectedYear == year ? "active" : "")" asp-controller="stats" asp-action="index" asp-route-lag="@Model.Team" asp-route-aar="@year">@year</a></li>
                }
                <li><hr /></li>
                <li><a class="@(Model.SelectedYear == 0 ? "active" : "")" asp-controller="stats" asp-action="index" asp-route-lag="@Model.Team" asp-route-aar="0" >Total</a></li>
            </ul>

        </div>
        </div>
        }
