@using System.Threading.Tasks
@model MyTeam.ViewModels.News.CommentViewModel

<div class="news-comment clearfix">
    <div class="comment-container comment-imageContainer">
        <a asp-controller="Player" asp-action="Show" asp-route-playerId="@Model.Member.Id" title="@Model.Member.FullName">
            <img src="@Cloudinary.MemberImage(Model.Member.ImageSmall, Model.Member.FacebookId, 60, 70)" />
        </a>
    </div>
    <div class="comment-container comment-contentContainer">
        <a asp-controller="Player" asp-action="Show" asp-route-playerId="@Model.Member.Id" class="comment-author">@Model.Member.FullName</a>
        <span class="comment-content">@Model.Content.IncludeLinebreaks()</span>
        <div class="comment-date">@Model.Date.ToNo() @Model.Date.ToNoTime()</div>
    </div>
</div>
<hr/>
