@using System.Threading.Tasks
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model MyTeam.ViewModels.News.CommentViewModel

<div class="news-comment clearfix">
    <div class="comment-container comment-imageContainer">
        @if (Model.Member.Exists)
        {
            <a asp-controller="Player" asp-action="Show" asp-route-playerId="@Model.Member.Id" title="@Model.Member.FullName">
                <img src="@Context.Cloudinary().MemberImage(Model.Member.ImageSmall, Model.Member.FacebookId, 60, 70)" />
            </a>
        }
        else if (!string.IsNullOrWhiteSpace(Model.AuthorFacebookId))
        {
            <a href="https://www.facebook.com/@Model.AuthorFacebookId">
                <img src="@Context.Cloudinary().MemberImage(null, Model.AuthorFacebookId, 60, 70)"/>
            </a>
        }
        else
        {
            <img src="@Context.Cloudinary().MemberImage(null, null, 60, 70)" />
        }
    </div>
    <div class="comment-container comment-contentContainer">
        @if (Model.Member.Exists)
        {
            <a asp-controller="Player" asp-action="Show" asp-route-playerId="@Model.Member.Id" class="comment-author">@Model.Member.FullName</a>
        }
        else if (!string.IsNullOrWhiteSpace(Model.AuthorFacebookId))
        {
            <a class="comment-author">
                @Model.AuthorName
            </a>
        }
        else
        {
            <a class="comment-author" href="mailto:@Model.AuthorUserName">
                @Model.AuthorName (@Model.AuthorUserName)
            </a>
        }
        <span class="comment-content">@Model.Content.IncludeLinebreaks()</span>
        <div class="comment-date">@Model.Date.ToNo() @Model.Date.ToNoTime()</div>
    </div>
</div>
<hr/>
