@using System.Threading.Tasks
@model MyTeam.ViewModels.News.EditArticleViewModel


<div class="col-xs-12">


    <form asp-action="edit" method="post">
        <input asp-for="ArticleId" type="hidden"/>
        <input asp-for="ImageUrl" type="hidden"/>
        <div class="cloudinary-preview news-imageWrapper">
            <img src="@Context.Cloudinary().Image(Model.ImageUrl, 900, Cloudinary.DefaultArticle)" />
        </div>
        <input name="file" type="file"
               class="btn btn-default cloudinary-fileupload pull-left" data-cloudinary-field="ImageUrl"/>
        @if (!Model.IsNew)
        {
            <a class="btn btn-danger pull-right confirm-dialog"
               asp-action="delete" asp-route-articleId="@Model.ArticleId" title="@Res.Delete" data-message="@Res.ConfirmDelete"><i class="fa fa-trash"></i></a>
        }
        <div class="clearfix"></div>
        <br/>
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <label asp-for="Headline">Overskrift:</label>
        <div class="form-group">
            <input class="form-control" asp-for="Headline" placeholder="Sensasjonell snuoperasjon av Sleivdal"/>
        </div>
        <div class="form-group">
            <textarea asp-for="Content" class="form-control update-table" placeholder="Innhold"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Res.Save</button>
        </div>
    </form>
</div>

