@using System.Threading.Tasks
@using MyTeam.Models.Domain
@using MyTeam.Models.General
@model MyTeam.Models.General.PagedList<MyTeam.Models.Domain.Article>
@{
    ViewData.Add("isShortVersion", true);
}

@foreach (var article in Model)
{
    @Html.Partial("_Show", article);
}

<div mt-main>
    <nav class="news-pager">
        <ul class="pager">
            @if (Model.HasPrevious)
            {
                <li class="previous"><a asp-route-skip="@Model.SkipPrevious" asp-route-take=" @Model.Take "><span aria-hidden="true">&larr;</span> Nyere</a></li>
            }
            else
            {
                <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Nyere</a></li>
            }
            @if (Model.HasNext)
            {
                <li class="next @(Model.HasNext ? "" : "disabled")"><a asp-route-skip="@Model.SkipNext" asp-route-take="@Model.Take">Eldre <span aria-hidden="true">&rarr;</span></a></li>
            }
            else
            {
                <li class="next disabled"><a>Eldre <span aria-hidden="true">&rarr;</span></a></li>
            }

        </ul>
    </nav>
</div>