@using System.Threading.Tasks
@using MyTeam
@model MyTeam.ViewModels.News.ArticleViewModel
@{
    var isShortVersion = ViewData["isShortVersion"] as bool? == true;
}



<div class="news-item mt-container">
    <div class="news-imageWrapper @(isShortVersion ? "news-imageWrapper--short":"")">
        @if (isShortVersion)
        {
            <a asp-action="show" asp-route-articleId="@Model.Id"><img src="@Cloudinary.Image(Model.ImageUrl, 900, Cloudinary.DefaultArticle)"/>
            </a>
        }
        else
        {
            <img src="@Cloudinary.Image(Model.ImageUrl, 800, Cloudinary.DefaultArticle)" />
            }
        </div>
        @if (Context.UserIsInRole(Roles.Coach, Roles.Admin, Roles.NewsWriter))
        {
            <a class="pull-right edit-link" asp-controller="news" asp-action="edit" asp-route-articleId="@Model.Id"><i class='fa fa-edit'></i></a>
        }
        <h2>@Model.Headline</h2>
        <p class="news-author"><a asp-controller="player" asp-action="show" asp-route-playerId="@Model.AuthorId">@Model.Author?.Fullname</a> <span class="datetime">@Model.Published.ToNo()</span></p>
        <hr class="sm" />
                @if (isShortVersion)
                {
                    <div class="news-content news-content--short">
                        @Html.Raw(Model.Content.StripHtmlTags().Truncate())
                    </div>
                    <hr />
                    <a asp-action="show" asp-route-articleId="@Model.Id">Les hele</a>
                }
                else
                {
                    <div class="news-content news-content--full">@Html.Raw(Model.Content)</div>
                }
            </div>
