@using MyTeam
@using MyTeam.ViewModels.News
@model MyTeam.Models.General.PagedList<ArticleViewModel>
@{
    ViewBag.PageName = "Nyheter";
}


<div class="mt-sidebar">
    @if (Context.UserIsInRole(Roles.Admin, Roles.Coach, Roles.NewsWriter))
    {
        <div class="mt-container">
            <ul class="nav nav-list">
                <li class="nav-header">@Res.CoachMenu</li>
                <li><a asp-action="create"><i class='fa fa-plus'></i> Skriv ny artikkel</a></li>
            </ul>
        </div>
    }
    <div class="mt-container">
        @Component.InvokeAsync("ArticleNav", Context.GetClub().Id)
    </div>
    <div class="mt-container">

        <h4><i class="fa fa-twitter"></i> Siste Tweets</h4>
        <a class="twitter-timeline" href="https://twitter.com/WamKam" data-widget-id="672159319203430401" data-tweet-limit="5" data-chrome="nofooter transparent noheader noborders noscrollbar">Tweets by WamKam</a>
    </div>
    
</div>

<div class="mt-main">
    @Html.Partial("_List", Model)
</div>






@if (Model.HasPrevious || Model.HasNext)
{
    <div mt-main>
        <nav class="news-pager">
            <ul class="pager">
                @if (Model.HasPrevious)
                {
                    <li class="previous"><a asp-route-skip="@Model.SkipPrevious" asp-route-take="@Model.Take"><span aria-hidden="true">&larr;</span> Nyere</a></li>
                }
                else
                {
                    <li class="previous disabled"><a><span aria-hidden="true">&larr;</span> Nyere</a></li>
                }
                @if (Model.HasNext)
                {
                    <li class="next @(Model.HasNext ? "" : "disabled")"><a asp-route-skip="@Model.SkipNext" asp-route-take="@Model.Take">Eldre <span aria-hidden="true">&rarr;</span></a></li>
                }
                else
                {
                    <li class="next disabled"><a>Eldre <span aria-hidden="true">&rarr;</span></a></li>
                }

            </ul>
        </nav>
    </div>
}

@section Scripts {
    @Html.Partial("Scripts/_TwitterFeed")
}