@using MyTeam.Resources
@using MyTeam.ViewModels.RemedyRate
@model RemedyRateViewModel
@if (Model != null)
{
    <tr class="@Model.Id">
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>@Model.Rate,-</td>
        @if (Context.UserIsInRole(Roles.Finemaster))
        {
            <td class="text-center">        
                <a asp-action="edit" asp-route-rateId="@Model.Id" title="Rediger"><i class="fa fa-edit"></i></a>
                &nbsp; 
                <a class="confirm-dialog"
                   asp-controller="remedyrate"
                   asp-action="delete"
                   asp-route-rateId="@Model.Id"
                   title="@Res.Delete" data-message="Er du sikker på at du vil slette @Model.Description?"><i class="fa fa-trash"></i></a>
            </td>
        }
    </tr>
}
