@using MyTeam.Resources
@using MyTeam.ViewModels.Fine
@using MyTeam.ViewModels.Payment
@model PaymentViewModel
@if (Model != null)
{
    <tr class="@Model.Id">
        <td>
            <a asp-controller="fine" asp-action="list" asp-route-aar="@ViewData["selectedYear"]" asp-route-memberid="@Model.MemberId">
                <span class="no-wrap hidden-xs">@Model.FirstName @Model.LastName</span>
            </a>
            <span class="no-wrap visible-xs">@Model.FirstName @Model.LastName.Substring(0, 1).</span>
            @if (!string.IsNullOrWhiteSpace(Model.Comment))
            {
                <a class="mt-popover" data-container="body" data-content="@Model.Comment" data-placement="top" data-toggle="popover" href="javascript:void(0);">
                    <i class="fa fa-info-circle"></i>
                </a>
            }
        </td>
        <td>@Model.Amount,-</td>
        <td class="hidden-xs">@Model.TimeStamp.ToNoShort()</td>

        @if (Context.UserIsInRole(Roles.Finemaster))
        {
            <td class="text-center">
                <a class="confirm-dialog"
                   asp-controller="payment"
                   asp-action="delete"
                   asp-route-paymentId="@Model.Id"
                   title="@Res.Delete" data-message="Er du sikker på at du vil slette innbetalingen?"><i class="fa fa-trash"></i></a>
            </td>
        }
    </tr>
}
