@using System.Threading.Tasks
@using MyTeam
@model MyTeam.ViewModels.Player.EditPlayerViewModel
<form asp-controller="Player" asp-action="Edit" method="post" class="ajax-form form-horizontal" role="form"
      data-ajax-update="#show-players"
      mt-pushstate="@Model.Fullname">
    <div class="col-sm-6 col-md-6 col-lg-6 picture-frame">
        <div class="cloudinary-preview editPlayer-image ">
            <img div src="@Context.Cloudinary().MemberImage(Model.ImageFull, Model.FacebookId, 400)"/>
        </div>
        <div class="form-file-upload-wrapper">

            <input name="file" type="file"
                   class="btn btn-default cloudinary-fileupload pull-left" data-cloudinary-field="ImageFull"/>
            </div>
            <div class="clearfix"></div>

        </div>
    <div class="col-sm-6 col-md-6 col-lg-6 player-info">

        @*<div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>*@
        <input asp-for="PlayerId" type="hidden" />
        <input asp-for="ImageFull" type="hidden" />
        <div class="preview"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MiddleName"></label>
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Positions"></label>
            <select name="Positions" class="ep-positions form-control" multiple>
                @foreach (var position in Model.AllPositions)
                {


                    if (Model.Positions != null && Model.Positions.Any(p => p.ToString() == position.Text))
                    {
                        <option selected value="@position.Text">@position.Text</option>
                    }
                    else
                    {
                        <option value="@position.Text">@position.Text</option>
                    }
                }
            </select>
            <span asp-validation-for="Positions" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BirthDate"></label>
            <span class="datepicker" data-value="@Html.DisplayFor(m => m.BirthDate)" id="BirthDate">
                <input asp-for="BirthDate" type="text" class="form-control" />
            </span>            
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate"></label>
            <span class="datepicker" data-value="@Html.DisplayFor(m => m.StartDate)" id="StartDate">
                <input asp-for="StartDate" type="text" class="form-control" />
            </span>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" type="text" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Res.Save</button>
        </div>
</div>
    </form>

@if (Context.Request.IsAjaxRequest())
{
    @Html.Partial("_Alerts")
}
