@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata.Internal
@using MyTeam
@using MyTeam.Resources
@using MyTeam.Settings
@model MyTeam.ViewModels.Player.EditPlayerViewModel

<div class="col-sm-6 col-md-6 col-lg-6 picture-frame">
    <img src="@Cloudinary.MemberImage(Model.ImageFull, 400)" />
</div>
<div class="col-sm-6 col-md-6 col-lg-6 player-info">
    <form asp-controller="Player" asp-action="Edit" method="post" class="form-horizontal" role="form"
          data-ajax="true" data-ajax-mode="replace" data-ajax-update="#show-players"
          data-ajax-complete="global.applyScopedJsComponents('#show-players');"
          mt-pushstate="@Model.Fullname">
        @*<div class="form-group">
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            </div>*@

        <input asp-for="PlayerId" type="hidden" />
        <input asp-for="ImageFull" type="hidden"/>
        <div class="preview"></div>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MiddleName"></label>
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Positions"></label>
            <select name="Positions" class="ep-positions form-control" multiple>
                @foreach (var position in Model.AllPositions)
                {
                

                    if (Model.Positions != null && Model.Positions.Any(p => p.ToString() == position.Text))
                    {
                        <option selected value="@position.Text">@position.Text</option>
                    }
                    else
                    {
                        <option value="@position.Text">@position.Text</option>
                    }
                }
            </select>
            <span asp-validation-for="Positions" class="text-danger"></span>
        </div>
   
        <div class="form-group">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" type="text" class="form-control datepicker"/>
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" type="text" class="form-control datepicker"/>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" type="text" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Res.Save</button>
        </div>
    </form>
</div>

@if (Context.Request.IsAjaxRequest())
{
    @Html.Partial("_Alerts")
}
