@using System.Threading.Tasks
@using MyTeam.Resources
@using MyTeam.Settings
@model MyTeam.ViewModels.Player.ShowPlayersViewModel



@foreach (var player in Model.Players)
{
    <div class="col-lg-3 col-md-4 col-xs-4 text-center mt-playerWrapper">
        <a data-ajax="true" 
           data-ajax-mode="replace"
           data-ajax-update="#show-players"
           data-ajax-complete="global.applyScopedJsComponents('#show-players')"
           asp-controller="player" asp-action="show" asp-route-playerid="@player.Id"
           class="mt-player-container "
           onclick="window.scrollTo(0,0);">
            <div class="image-container">
                <img src="@Cloudinary.MemberImage(player.ImageFull, player.FacebookId, 200, 200)" title="@Html.DisplayFor(p => player.Name)" alt="">
            </div>
            <p>@Html.DisplayFor(p => player.Name)</p>
        </a>
    </div>
}

@if (!Model.Players.Any())
{
    <div class="alert alert-info">@Messages.NoPlayers</div>
}