@using System.Threading.Tasks
@using MyTeam.Resources
@model MyTeam.Models.Domain.Player

<div class="col-sm-6 col-md-6 col-lg-6 picture-frame">
    <img src="@Url.Content(Model.ImageFull)" />
</div>
<div class="col-sm-6 col-md-6 col-lg-6 player-info">
    <table class="table">

        <tr><td><label asp-for="Positions"></label></td><td>@Html.DisplayFor(m => m.PositionsToString)</td></tr>
        <tr><td><label asp-for="GameCount"></label></td><td>@Html.DisplayFor(m => m.GameCount)</td></tr>
        <tr><td><label asp-for="GoalCount"></label></td><td>@Html.DisplayFor(m => m.GoalCount)</td></tr>
        <tr><td><label asp-for="AssistCount"></label></td><td>@Html.DisplayFor(m => m.AssistCount)</td></tr>
        <tr><td><label asp-for="StartDate">@Res.StartDate&nbsp;@Model.Club.ShortName</label> </td><td>@Html.DisplayFor(m => m.StartYear)</td></tr>
        <tr><td><label asp-for="BirthDate"></label></td><td>@Html.DisplayFor(m => m.BirthDate)</td></tr>
        <tr class="br"><td colspan="2"></td></tr>
        <tr><td><label asp-for="PracticeCount">Treninger i @DateTime.Now.Year</label></td><td>@Html.DisplayFor(m => m.PracticeCount)</td></tr>
        <tr><td><label asp-for="Email"></label></td><td>@Html.DisplayFor(m => m.Email)</td></tr>
        <tr><td><label asp-for="Phone"></label></td><td>@Html.DisplayFor(m => m.Phone)</td></tr>

    </table>
</div>


@if (Context.Request.IsAjaxRequest())
{
    <script>
        layout.pushState('playerId', '@Model.Id', '@Model.Fullname')
    </script>
}

