@using System.Threading.Tasks
@using MyTeam.Models.Domain
@using MyTeam.Resources
@model MyTeam.ViewModels.Player.ShowPlayersViewModel

@{
    ViewBag.Title = Res.Players;
}
<mt-main inner-id="show-players">

    @foreach (var player in Model.Players)
    {
        <a action="show" route-playerid="@player.Id" class="col-lg-3 col-md-4 col-xs-4 text-center mt-player-container">
            <div class="image-container">
                <img src="@Url.Content(player.ImageMedium)" title="@Html.DisplayFor(p => player.Name)" alt="">
            </div>
            <p>@Html.DisplayFor(p => player.Name)</p>
        </a>

    }
</mt-main>

<mt-sidebar>
    <ul class="nav nav-list">
        <li class="nav-header">@Res.Submenu</li>
        <li><a controller="player" action="index" route-type="@PlayerStatus.Aktiv"><i class='fa fa-user'></i> @Res.PlayersOfType(PlayerStatus.Aktiv)</a></li>
        <li><a controller="player" action="index" route-type="@PlayerStatus.Pensjonert"><i class='fa fa-trophy'></i> @Res.PlayersOfType(PlayerStatus.Pensjonert)</a></li>
    </ul>
</mt-sidebar>
<mt-sidebar>
    <ul class="nav nav-list">
        <li class="nav-header">@ViewBag.PageName</li>
        @foreach (var player in Model.Players)
        {
            <li><a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#show-players" controller="player" action="show" route-playerid="@player.Id">@player.Name</a></li>


}
    </ul>
</mt-sidebar>


