@using System.Threading.Tasks
@using MyTeam.ViewModels.Player
@model ShowPlayersViewModel
@{
    ViewBag.Title = Res.Players;
}
<div class="mt-main" >
    <div class="mt-container" id="show-players">
        @Html.Partial("_ListPlayers")
    </div>
</div>

<div class="mt-sidebar">
    <div class="mt-container">
        <ul class="nav nav-list">
            <li class="nav-header">@Res.Submenu</li>
            <li><a asp-controller="player" asp-action="list" asp-route-type="@PlayerStatus.Aktiv"><i class='fa fa-user'></i> @Res.PlayersOfType(PlayerStatus.Aktiv)</a></li>
            <li><a asp-controller="player" asp-action="list" asp-route-type="@PlayerStatus.Veteran"><i class='fa fa-trophy'></i> @Res.PlayersOfType(PlayerStatus.Veteran)</a></li>
        </ul>
    </div>
</div>

    @Html.Partial("_ListPlayersSidebar")
