@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata
@using Microsoft.Data.Entity.Metadata.Internal
@using MyTeam.Models.Domain
@using MyTeam.Models.Enums
@using MyTeam.Resources
@using MyTeam.ViewModels.Player
@model MyTeam.ViewModels.Player.ShowPlayersViewModel
@{
    ViewBag.Title = Res.Players;
}

<div mt-main  inner-id="show-players">
    
    @if(Model.SelectedPlayer != null)
    {
        if (Model.IsEditMode)
        {
            @Html.Partial("_Edit", new EditPlayerViewModel(Model.SelectedPlayer))
        }
        else
        {
            @Html.Partial("_Show", Model.SelectedPlayer)

        }
    }
    else
    {
        @Html.Partial("_ListPlayers")
    }  
</div>

<div mt-sidebar>
    <ul class="nav nav-list">
        <li class="nav-header">@Res.Submenu</li>
        <li><a asp-controller="player" asp-action="list" asp-route-type="@PlayerStatus.Aktiv"><i class='fa fa-user'></i> @Res.PlayersOfType(PlayerStatus.Aktiv)</a></li>
        <li><a asp-controller="player" asp-action="list" asp-route-type="@PlayerStatus.Veteran"><i class='fa fa-trophy'></i> @Res.PlayersOfType(PlayerStatus.Veteran)</a></li>
    </ul>
</div>
@if (Model.Players.Any())
{
    <div mt-sidebar>
        <ul class="nav nav-list">
            <li class="nav-header">@Res.PlayersOfType(Model.Status)</li>
            @foreach (var player in Model.Players)
            {
                <li><a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#show-players" asp-controller="player" asp-action="show" asp-route-playerid="@player.Id">@player.Name</a></li>
            }
        </ul>
    </div>
}
