@using System.Threading.Tasks
@using MyTeam.Resources

@model MyTeam.Models.Domain.Table

<table id="leagueTable" class="table  table--striped">
    <thead>
    <tr>
        <th class="hidden-xxs"></th>
        <th class="table-text">@Res.Team</th>
        <th >@Res.Games</th>
        <th class="hidden-sm hidden-xs">@Res.Win</th>
        <th class="hidden-sm hidden-xs">@Res.Draw</th>
        <th class="hidden-sm hidden-xs">@Res.Loss</th>
        <th class="hidden-xs ">@Res.GoalDifference</th>
        <th>@Res.Points</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Lines)
    {
        <tr>
            <td class="hidden-xxs">@line.Position</td>
            <td class="table-text"><strong>@line.Name</strong></td>
            <td>@line.GamesPlayed</td>
            <td class="hidden-sm hidden-xs">@line.Wins</td>
            <td class="hidden-sm hidden-xs">@line.Draws</td>
            <td class="hidden-sm hidden-xs">@line.Losses</td>
            <td class="hidden-xs">@line.GoalsFor - @line.GoalsAgainst</td>
            <td>@line.Points</td>
        </tr>
    }
    </tbody>
</table>


