@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata
@using MyTeam
@using MyTeam.Models.Domain
@using MyTeam.Models.Enums
@using MyTeam.Models.Structs
@using MyTeam.Resources
@{
    ViewBag.Title = Res.ManagePlayers;
}


<div mt-main>
    <div id="manage-players">
        
    </div>
</div>
<div mt-sidebar>
    <ul class="nav nav-list">
        <li class="nav-header">@Res.CoachMenu</li>
        <li><a asp-action="index"><i class='fa fa-user'></i> @Res.ManagePlayers</a></li>
        <li><a asp-action="addplayers"><i class='fa fa-plus'></i> @Res.Add @Res.Players.ToLower()</a></li>
    </ul>
</div>


@Html.Partial("_JsConstants")
@section Scripts
{
    <script src="~/scripts/Admin/manageplayers.js"></script>
}