@using System.Threading.Tasks
@using MyTeam
@using MyTeam.ViewModels.Game

@model IEnumerable<GameViewModel>

<table id="gamesTable" class="table gamesTable table--striped">
  <tbody>
    @foreach (var game in Model)
    {
        <tr>
            <td class="hidden-xs"><i class="fa fa-calendar"></i> @game.DateTime.ToNoShort()&nbsp;&nbsp;<i class="fa fa-clock-o"></i> @game.DateTime.ToNoTime()</td>
            <td class="gamesTable-team gamesTable-team--left">@game.HomeTeam</td>
            <td class="gamesTable-team">@game.HomeScore - @game.AwayScore</td>
            <td class="gamesTable-team gamesTable-team--right">@game.AwayTeam</td>
            <td class="hidden-xs"><i class="fa fa-map-marker"></i> @game.Location</td>
        </tr>
    }
    </tbody>
</table>


