@using System.Threading.Tasks
@using MyTeam
@using MyTeam.ViewModels.Game

@model IEnumerable<GameViewModel>

<table id="gamesTable" class="table gamesTable table--striped">
  <tbody>
    @foreach (var game in Model)
    {
        <tr class="games-showGameLink mt-anchor" data-href="@Url.Action("Show", new {gameId = game.Id})">
            <td class="hidden-xs gameType"><i title="@game.GameType.DisplayName()" class="@Icons.GameType(game.GameType)"></i></td>
            <td class="gamesTable-date"><i class="text-subtle hidden-xxs fa fa-calendar"></i> @game.DateTime.ToNoShort()</td>
            <td class="gamesTable-team hidden-xs gamesTable-team--left">@game.HomeTeam</td>
            <td class="gamesTable-team visible-xs gamesTable-team--left">@game.HomeTeam.Truncate(12, excludeDots: true)</td>
            <td class="gamesTable-team"><span class="gameResult gameResult--@game.Outcome">@game.HomeScore - @game.AwayScore</span></td>
            <td class="gamesTable-team hidden-xs gamesTable-team--right">@game.AwayTeam</td>
            <td class="gamesTable-team visible-xs gamesTable-team--right">@game.AwayTeam.Truncate(12, excludeDots: true)</td>
            <td class="hidden-xs"><i class="text-subtle fa fa-map-marker"></i> @game.LocationShort.Truncate(16, excludeDots: true)</td>
        </tr>
    }
    </tbody>
</table>

