@using System.Threading.Tasks
@model System.Collections.Generic.IEnumerable<MyTeam.ViewModels.Game.RegisterSquadPlayerViewModel>
<div class="row">
    <ul class="list-users">
        @foreach (var player in Model)
        {
            <li class="register-attendance-item" >
                <img class="hidden-xxs" src="@Cloudinary.MemberImage(player.ImageSmall, 50, 50)"/>
                @player.ShortName

                <input class="pull-right form-control register-attendance-input"
                       data-player-id="@player.Id"
                       data-player-name="@player.ShortName"
                       data-event-id="@player.EventId"
                       type="checkbox"
                       @(player.Attendance?.IsSelected == true ? "checked" : "")/>
                <span id="playerAttendance-@player.Id" class="pull-right register-attendance-attendance">0%</span>
                @if (!string.IsNullOrWhiteSpace(player.Attendance?.SignupMessage))
                {
                    <a class="mt-popover registerSquad-messageIcon pull-right" data-container="body" data-content="@player.Attendance.SignupMessage" data-placement="right" data-toggle="popover" href="javascript:void(0);"><i class="fa fa-comment"></i></a>
                }
                <div class="ra-info-elements">
                    <span class="label label-danger"><i class="fa fa-warning"></i></span>
                </div>
            </li>
        }
    </ul>
</div>
