@using MyTeam.Resources
@using MyTeam.ViewModels.Fine
@model FineViewModel
@{
    var selectedYear = ViewData["selectedYear"];
    var selectedMemberId = ViewData["selectedMemberId"];
}
@if (Model != null)
{
    <tr class="@Model.Id">
        <td>
            <a asp-controller="fine" asp-action="list" asp-route-aar="@selectedYear" asp-route-memberid="@Model.MemberId">
                <span class="no-wrap hidden-xs">@Model.FirstName @Model.LastName</span>
            </a>
            <span class="no-wrap visible-xs">@Model.FirstName @Model.LastName.Substring(0, 1).</span>
        </td>
        <td>@Model.Description&nbsp;
        @if (!string.IsNullOrWhiteSpace(Model.Comment))
        {
            <a class="mt-popover" data-container="body" data-content="@Model.Comment" data-placement="top" data-toggle="popover" href="javascript:void(0);">
                <i class="fa fa-info-circle"></i>
            </a>
        }
        </td>
        <td>@Model.Rate,-</td>
        <td class="hidden-xs">@Model.Issued.ToNoShort()</td>

        @if (Context.UserIsInRole(Roles.Finemaster))
        {
            <td class="text-center">
                <a class="confirm-dialog"
                   asp-controller="fine"
                   asp-action="delete"
                   asp-route-rateId="@Model.Id"
                   asp-route-memberId="@selectedMemberId"
                   asp-route-aar="@selectedYear"
                   title="@Res.Delete" data-message="Er du sikker på at du vil slette @Model.Name?"><i class="fa fa-trash"></i></a>
            </td>
        }
    </tr>
}
