@using System.Security.Policy
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MyTeam.Resources
@using MyTeam.ViewModels.Fine
@using MyTeam.ViewModels.Payment
@model ListFineViewModel

@{ 
    ViewBag.Title = "Bøter";
}
<div class="mt-main fine">
    <div class="mt-container">
        <ul class="nav nav-pills mt-justified">
            <li class=""><a href="/intern/boter"><i class="fa fa-bar-chart"></i>&nbsp;Oversikt</a></li>
            <li class="active"><a asp-action="list" asp-controller="fine"><i class="@Icons.Fine"></i>&nbsp;Alle bøter</a></li>
            <li class=""><a asp-action="index" asp-controller="remedyrate"><i class="fa fa-usd"></i>&nbsp;Bøtesatser</a></li>
            @if (Context.UserIsInRole(Roles.Finemaster))
            {
                <li><a asp-action="index" asp-controller="payment"><i class="@Icons.Payment"></i>&nbsp;Innbetalinger</a></li>
            }
        </ul>
    </div>
    <div class="mt-container">
        @if (Model.Players.Count() > 1)
            {
            <div class="pull-right">
                <select class="linkSelect form-control pull-right">
                    <option value="@Url.Action("List", "Fine", new {aar = Model.SelectedYear})">- Alle spillere -</option>
                    @foreach (var player in Model.Players)
                    {
                        <option value="@Url.Action("List", "Fine", new {aar = Model.SelectedYear, memberId = player.Id})" selected="@(Model.SelectedPlayer?.Id == player.Id)">@player.ShortName</option>
                    }
                </select>
            </div>
        }
        @if (Model.Years.Count() > 1)
            {
            <div class="pull-right">
                <select class="linkSelect form-control pull-right hidden-md hidden-lg">
                    @foreach (var year in Model.Years)
                {
                        <option value="@Url.Action("List", "Fine", new {aar = year, memberId = Model.SelectedPlayer?.Id })" selected="@(Model.SelectedYear == year)">@year</option>
                    }
                </select>
            </div>
        }
        <table class="fine-rates table col-xs-12">
            <thead>
            <tr>
                <th><i class="fa fa-user"></i> Hvem</th>
                <th><i class="fa fa-question"></i> Hva</th>
                <th><i class="fa fa-money"></i><span class="hidden-xs"> Beløp</span></th>
                <th class="hidden-xs"><i class="fa fa-calendar"></i> @Res.Date</th>
                @if (Context.UserIsInRole(Roles.Finemaster))
                {
                    <th class="nosort"></th>
                }
            </tr>
            </thead>
            <tbody id="fine-rates-tbody">
            @foreach (var fine in Model.Fines)
            {
                @Html.Partial("_Show", fine, new ViewDataDictionary(ViewData) { { "selectedYear", Model.SelectedYear}, { "selectedMemberId", Model.SelectedPlayer?.Id} })
            }
            </tbody>
        </table>
    </div>

     @Html.Partial("_Add", new AddFineViewModel(Model.Rates, Model.Players))
    
</div>


@if (Model.Years.Count() > 1)
{
    <div class="mt-sidebar">
        <div class="mt-container">
            <ul class="nav nav-list">
                <li class="nav-header">@Res.Season.Pluralize()</li>
                @foreach (var year in Model.Years)
                {
                    <li><a class="@(Model.SelectedYear == year ? "active" : "")" asp-controller="fine" asp-action="list" asp-route-memberId="@Model.SelectedPlayer?.Id" asp-route-aar="@year">@year</a></li>
                }
            </ul>

        </div>
    </div>
}