@using MyTeam.Models.Enums
@if (!Context.Request.IsAjaxRequest())
{
        <div mt-alert="Success">@ViewBag.AlertSuccess</div>
        <div mt-alert="Info">@ViewBag.AlertInfo</div>
        <div mt-alert="InfoSubtle">@ViewBag.AlertInfoSubtle</div>
        <div mt-alert="Warning">@ViewBag.AlertWarning</div>
        <div mt-alert="Danger">@ViewBag.AlertDanger</div>
}
else
{
    <script>
        window.mt.clearAlerts();
        @foreach(var value in Enum.GetValues(typeof(AlertType)))
        {
            var alert = ViewData[$"AjaxAlert{value}"] as string;
            if (alert != null)
            {
                var alertType = value.ToString().ToLower();
                <text>window.mt.alert('@alertType', '@alert');</text>
            }
        }
    </script>
}

