@using System.Threading.Tasks
    <div mt-alert="AlertType.Success">@ViewBag.AlertSuccess</div>
    <div mt-alert="AlertType.Info">@ViewBag.AlertInfo</div>
    <div mt-alert="AlertType.InfoSubtle">@ViewBag.AlertInfoSubtle</div>
    <div mt-alert="AlertType.Warning">@ViewBag.AlertWarning</div>
    <div mt-alert="AlertType.Danger">@ViewBag.AlertDanger</div>
