@using System.Threading.Tasks
<div class="col-lg-9 col-md-9">
    <div mt-alert="AlertType.Success">@ViewBag.AlertSuccess</div>
    <div mt-alert="AlertType.Info">@ViewBag.AlertInfo</div>
    <div mt-alert="AlertType.InfoSubtle">@ViewBag.AlertInfoSubtle</div>
    <div mt-alert="AlertType.Warning">@ViewBag.AlertWarning</div>
    <div mt-alert="AlertType.Danger">@ViewBag.AlertDanger</div>
</div>
<div class="clearfix"></div>
