@using System
@using System.Collections.Generic
@using Microsoft.Data.Entity.Metadata.Internal
@model Exception

<div>
    @if (Model != null)
    {

        <hr />
        <div style="overflow:scroll">
            @{
                var exceptions = new List<Exception>();
                var exception = Model;
                while (exception.InnerException != null)
                {
                    exceptions.Add(exception);
                    exception = exception.InnerException;
                }
            }

            <h1>@exception.Message</h1>
            <p>

                <b>@exception.GetType()</b>
                <span>@exception.Message</span><br />
            </p>
            <div>
                <ul>
                    @{
                        exceptions.Reverse();
                        foreach (var ex in exceptions)
                        {
                            <li>
                                <b>@ex.GetType()</b>
                                <span>@ex.Message</span>
                            </li>
                        }
                    }
                </ul>

                <pre>
                @Model.ToString()
                </pre>
            </div>
        </div>
                        }
</div>