@using System.Threading.Tasks
@using MyTeam.Models.Domain
@using MyTeam.Models.Enums
@using MyTeam.Resources
@using MyTeam.Settings
@{
    var clubId = ViewContext.RouteData.Values["club"] as string;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@clubId - @ViewBag.Title</title>
    <link rel="icon" type="image/png" href="@Url.Content($"~/img/clubs/{clubId}/favicon.png")">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.css" />
</head>
<body>
    <div id="bg-placeholder"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="home" class="navbar-brand"><img src="@Url.Content($"~/img/clubs/{clubId}/wamkam_small.png")" alt="Wam-Kam" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="club" asp-action="index">@Res.Home</a></li>
                    <li><a asp-controller="player" asp-action="index">@Res.Players</a></li>
                    <li><a asp-controller="table" asp-action="index">@Res.Table</a></li>
                    <li><a asp-controller="game">@Res.Games</a></li>
                    <li><a onclick="layout.toggleSubMenu(this, '#submenu-internal')" href="javascript:void(0)">@Res.Internal</a></li>
                </ul>
                <ul id="submenu-internal" class="nav navbar-nav" style="display: none;">
                    <li><a asp-controller="club" asp-action="index">@Res.Home</a></li>
                    <li><a asp-controller="player" asp-action="index">@Res.Players</a></li>
                    <li><a asp-controller="table" asp-action="index">@Res.Table</a></li>
                    <li><a asp-controller="game">@Res.Games</a></li>
                    <li><a onclick="layout.toggleSubMenu(this)" href="javascript:void(0)">@Res.Internal</a></li>
                </ul>


                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    @Component.Invoke("PageHeader", ViewBag.PageName ?? ViewBag.Title ?? "", ViewBag.Subtext ?? "")
    <div id="main-container" class="container">
        <div id="alerts" class="col-lg-9 col-md-9">
            @Html.Partial("_Alerts")
        </div>
        <div class="clearfix"></div>
        @RenderBody()
        <footer></footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/tablesorter/jquery.tablesorter.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootbox.js/bootbox.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>