@using MyTeam.Settings
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Settings.Title - @ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap-override.css" />
</head>
<body>
    <div id="bg-placeholder"></div>
    

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Settings.ClubName, "Index", "Club", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Club")</li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</div>

@Component.Invoke("PageHeader", ViewBag.Title, ViewBag.Subtext ?? "")
<div class="container body-content">
    @RenderBody()
    <footer>

    </footer>

</div>

<script src="~/lib/jquery/js/jquery.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>