@using System.Threading.Tasks
@using MyTeam.Resources
@using MyTeam.Settings
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Config.Title - @ViewBag.Title</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/img/clubs/wamkam/favicon.png")">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap-override.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.css" />
</head>
<body>
    <div id="bg-placeholder"></div>
     <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a controller="home" class="navbar-brand"><img src="@Url.Content("~/img/clubs/wamkam/wamkam_small.png")" alt="Wam-Kam" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a controller="club" action="index">@Res.Home</a></li>
                    <li><a controller="player" action="index">@Res.Players</a></li>
                    <li><a controller="game">@Res.Games</a></li>
                    <li><a controller="table">@Res.Table</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>

    @Component.Invoke("PageHeader", ViewBag.PageName ?? ViewBag.Title ?? "", ViewBag.Subtext ?? "")
    <div class="container body-content">

        @RenderBody()

        <footer></footer>

    </div>

    <script src="~/lib/jquery/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>