@using System.Threading.Tasks
@model MyTeam.ViewModels.Member.MemberListViewModel
<div class="mt-main">
    <div class="mt-container">
        <ul class="nav nav-pills mt-justified">
            <li class="@(Model.MemberStatus == PlayerStatus.Aktiv ? "active" : "")"><a asp-route-status="@PlayerStatus.Aktiv"><i class="fa fa-user"></i>&nbsp;@PlayerStatus.Aktiv</a></li>
            <li class="@(Model.MemberStatus == PlayerStatus.Veteran ? "active" : "")"><a asp-route-status="@PlayerStatus.Veteran"><i class="fa fa-trophy"></i>&nbsp;@PlayerStatus.Veteran</a></li>
            <li class="@(Model.MemberStatus == PlayerStatus.Inaktiv ? "active" : "")"><a asp-route-status="@PlayerStatus.Inaktiv"><i class="fa fa-user-times"></i>&nbsp;@PlayerStatus.Inaktiv</a></li>
        </ul>
        <br />
        <table class="listMembers table tablesorter col-xs-12">
            <thead>
                <tr>
                    <th class="hidden-xs nosort"></th>

                    <th>@Res.Name</th>

                    <th>@Res.Phone</th>

                    <th class="hidden-xs">@Res.Email</th>
                    <th class="visible-lg">Født</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Members)
            {
                    <tr>
                        <td class="hidden-xs image">
                            <a asp-controller="player" asp-action="show" asp-route-playerid="@member.Id">
                                <img src="@Context.Cloudinary().MemberImage(member.Image, member.FacebookId, 50, 50)" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="player" asp-action="show" asp-route-playerid="@member.Id">
                                @member.Name
                            </a>
                        </td>
                        <td>
                            <a href="tel:@member.Phone">@member.Phone</a>
                        </td>
                        <td class="hidden-xs">
                            <a href="mailto:@member.Email">@member.Email</a>
                        </td>
                        <td class="visible-lg">
                            @member.BirthYear
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    </div>
