@model MyTeam.ViewModels.Events.UpcomingEventsViewModel
@{ 
    var events = Model.Events;
}
<nav class="nav-pagination">
    <ul class="pagination">
        @if (events.HasPrevious)
        {
            <li>
                <a asp-controller="event" asp-action="previous" asp-route-type="@Model.Type.ToString().ToLower()" asp-route-page="@(events.CurrentIndex-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
        </li> }
        else
        {
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>
        }
        @for (int i = events.StartIndex; i < events.EndIndex; i++)
        {
            if(events.CurrentIndex == i)
            {
                <li class="active"><span>@i</span></li>
            }
            else
            {
                <li><a asp-controller="event" asp-action="previous" asp-route-type="@Model.Type.ToString().ToLower()" asp-route-page="@i">@i</a></li>
            }
        }

        @if (events.HasNext)
        {
            <li>
                <a asp-controller="event" asp-action="previous" asp-route-type="@Model.Type.ToString().ToLower()" asp-route-page="@(events.CurrentIndex+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else
        {
            <li class="disabled">
                <span>
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        }
    </ul>
</nav>


