@using System.Threading.Tasks
@using MyTeam.ViewModels.Game
@model AddGamesViewModel
@{
    ViewBag.Title = "Legg til terminliste";
}
<div class="mt-container">
    <div class="col-xs-12 addGames">
        <form asp-action="AddGames" method="post">
            <div class="form-group col-sm-5 col-md-4 no-padding">
                <div class="addGames-teamSelect">
                    <i class="flaticon-football43"></i>
                    <select name="TeamId">
                        @foreach (var team in Model.Teams)
                        {
                            <option selected="@(team.Id == Model.TeamId)" value="@team.Id">@team.Name</option>
                        }
                    </select>
                    @for (int i = 0; i < Model.Teams.Count(); i++)
                    {
                        <input type="hidden" asp-for="Teams[i].Id"/>
                        <input type="hidden" asp-for="Teams[i].Name"/>
                        <input type="hidden" asp-for="Teams[i].ShortName" />
                    }
                </div>
            </div>
            <div class="form-group  col-sm-6 no-padding">
                <div class="addGames-teamSelect">
                    <i class="fa fa-trophy"></i>
                    <select name="GameType">
                        @foreach (var gameType in Model.GameTypes)
                        {
                            <option selected="@(gameType == GameType.Seriekamp)" value="@gameType">@gameType.DisplayName()</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <textarea asp-for="GamesString" class="form-control update-table" placeholder="@Res.SubmitGames"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Ok</button>
            </div>
        </form>
    </div>
</div>
