@using System.Threading.Tasks
@using MyTeam
@model MyTeam.ViewModels.Game.ShowGameViewModel
@{
    ViewBag.Title = "Registrer resultat";
}

<div class="mt-main">
    <div class="mt-container registerResult">
         <a asp-action="show" asp-route-gameId="@Model.Game.Id" class="pull-right" title="Vis kamp"><i class="fa fa-arrow-left"></i> <span class="hidden-xxs">Tilbake</span></a>
        <div class="game-header">
            <span class="registerResult-teamScore no-wrap">
                @Model.Game.HomeTeam
                <input type="tel" class="registerResult-score ajax-update" data-href="/api/games/@Model.Game.Id/score/home" value="@Model.Game.HomeScore" />
            </span>
              <span class="hidden-xs"> - </span>
            <span class="registerResult-teamScore no-wrap">
                <input type="tel" class="registerResult-score ajax-update" data-href="/api/games/@Model.Game.Id/score/away" value="@Model.Game.AwayScore" />
                @Model.Game.AwayTeam
            </span>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-6">
                <p class="col-sm-4 col-xs-2"><i class="fa fa-13x fa-calendar pull-right"></i>
                </p>
                <p class="col-sm-8">@Model.Game.DateTime.ToNoFull()</p>
                <p class="col-sm-4 col-xs-2"><i class="fa fa-13x fa-clock-o pull-right"></i>
                </p>
                <p class="col-sm-8">@Model.Game.DateTime.ToNoTime()</p>
            </div>
            <div class="col-sm-6">
                <p class="col-sm-4 col-xs-2">
                    <i class="@Icons.GameType(Model.Game.GameType) pull-right"></i>
                </p>
                <p class="col-sm-8">@Model.Game.GameType</p>
                <p class="col-sm-4 col-xs-2"><i class="fa fa-13x fa-map-marker pull-right"></i>
                </p>
                <p class="col-sm-8">@Model.Game.Location</p>
            </div>
        </div>
        <div id="registerResult-addEvent"
                     data-gameid="@Model.Game.Id"
                     data-get-squad-url="@Url.Action("GetSquad", "GameApi", new {gameId = Model.Game.Id})"
                     data-get-gameeventtypes-url="@Url.Action("GetTypes", "GameEventApi")"
                     data-add-gameevent-url="@Url.Action("Add", "GameEventApi", new {gameId = Model.Game.Id})"
                     data-get-gameevents-url="@Url.Action("Get", "GameEventApi", new {gameId = Model.Game.Id})"
                     data-delete-event-url="@Url.Action("Delete", "GameEventApi", new {gameId = Model.Game.Id})"
                     data-show-player-url="@Url.Action("Show", "Player")"
                     data-select-player-url="@Url.Action("SelectPlayer", "Game")">
                    </div>
            </div>
</div>
<div class="mt-sidebar">


</div>

@section Scripts
{
    <script src="~/compiled/scripts/Game/registerResult.js"></script>
}