@using System.Threading.Tasks
@using MyTeam
@model MyTeam.ViewModels.News.ArticleViewModel
@{
    var isShortVersion = ViewData["isShortVersion"] as bool? == true;
    var articleImageUrl = Context.Cloudinary().Image(Model.ImageUrl, 900, Context.Cloudinary().DefaultArticle, quality: 85, format: "jpg");
}

<div class="news-item mt-container">
    @if (ViewBag.IsMatchReport == true)
    {
        <h2 class="news-matchReport">Kamprapport</h2>
        <hr />
    }
    <div class="news-imageWrapper @(isShortVersion ? "news-imageWrapper--short" : "")">
        @if (isShortVersion)
        {
            <a asp-action="show" asp-route-name="@Model.Name"><img src="@articleImageUrl"/>
            </a>
        }
        else
        {
            <img src="@articleImageUrl"/>
        }
    </div>
    @if (Context.UserIsInRole(Roles.Coach, Roles.Admin, Roles.NewsWriter))
    {
        <a class="pull-right edit-link" asp-controller="news" asp-action="edit" asp-route-navn="@Model.Name"><i class='fa fa-edit'></i></a>
    }
    @if (isShortVersion) {
        <h2>
            <a class="news-headline" asp-action="show" asp-route-name="@Model.Name" >
                @Model.Headline
            </a>
        </h2>
    }
    else {
        <h2>@Model.Headline</h2>
    }
    <p class="news-author"><a class="underline" asp-controller="player" asp-action="show" asp-route-name="@Model.Author.UrlName">@Model.Author?.Fullname</a> <span class="datetime">@Model.Published.ToNo()</span>
     @if (Model.GameId != null && !(ViewBag.IsMatchReport == true))
     {
        <a asp-controller="game" asp-action="show" asp-route-gameid="@Model.GameId" class="pull-right u-font-normal"><i class="fa fa-info-circle"></i> Kampdetaljer</a>
     }
    </p>
    <hr class="sm"/>
    @if (isShortVersion)
    {
        <div class="news-content news-content--short">
            @Html.Raw(Model.Content.StripHtmlTags().Truncate())
        </div>
        <hr/>
        <a class="underline" asp-action="show" asp-route-name="@Model.Name">Les hele og kommentér (@Model.CommentCount)</a>
    }
    else
    {
        <div class="news-content news-content--full">@Html.Raw(Model.Content)</div>
    }
</div>
