@using System.Threading.Tasks
@using MyTeam.Resources

@model MyTeam.Models.Domain.Table

<table class="table table--striped tablesorter">
    <thead>
    <tr>
        <th class="hidden-xxs">@Res.Position</th>
        <th>@Res.Name</th>
        <th class="hidden-xs">@Res.Games</th>
        <th class="hidden-sm hidden-xs">@Res.Win</th>
        <th class="hidden-sm hidden-xs">@Res.Draw</th>
        <th class="hidden-sm hidden-xs">@Res.Loss</thclass="hidden-sm>
        <th>@Res.GoalDifference</th>
        <th>@Res.Points</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var line in Model.Lines)
    {
        <tr>
            <td class="hidden-xxs">@line.Position</td>
            <td><strong>@line.Name</strong></td>
            <td class="hidden-xs">@line.GamesPlayed</td>
            <td class="hidden-sm hidden-xs">@line.Wins</td>
            <td class="hidden-sm hidden-xs">@line.Draws</td>
            <td class="hidden-sm hidden-xs">@line.Losses</td>
            <td>@line.GoalDifference</td>
            <td>@line.Points</td>
        </tr>
    }
    </tbody>
</table>


