@using System.Threading.Tasks
@using MyTeam.Resources
@model Guid
@{
    ViewBag.Title = Res.Table;
}


<div mt-main>
    <div class="col-xs-12">
        <form asp-action="Update" method="post">
            <input name="seasonId" value="@Model" type="hidden"/>
            <div class="form-group">
                <textarea name="table" class="form-control update-table" placeholder="@Res.SubmitTable"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Res.Save</button>
            </div>
        </form>
    </div>
</div>
<div mt-sidebar>
    <ul class="nav nav-list">
        <li class="nav-header">@Res.CoachMenu</li>
        <li><a asp-action="update"><i class='fa fa-table'></i> @Res.Update @Res.Table.ToLower()</a></li>
    </ul>
</div>
<div mt-sidebar>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
</div>

