@using System.Threading.Tasks
@using MyTeam
@model MyTeam.ViewModels.Player.ShowPlayerViewModel

<div class="col-sm-6 col-md-6 col-lg-6 picture-frame">
    <img src="@Context.Cloudinary().MemberImage(Model.ImageFull, Model.FacebookId, 400)" />
</div>
<div class="col-sm-6 col-md-6 col-lg-6 player-info">
    @if (Context.Member().IsSelfOrAdmin(Model.Id))
    {
        <a class="edit-link edit-player-link " asp-controller="player" asp-action="edit" asp-route-playerId="@Model.Id"><i class="fa fa-pencil-square-o"></i></a>
    }
    <table class="table">
        <tr><td><label asp-for="Positions"></label></td><td class="playerStats--value">@string.Join(", ", Model.Positions)</td></tr>
        <tr><td><label asp-for="StartDate">@Res.StartDate</label> </td><td class="playerStats--value">@Html.DisplayFor(m => m.StartYear)</td></tr>
        <tr><td><label asp-for="BirthDate"></label></td><td class="playerStats--value">@Html.DisplayFor(m => m.BirthDate)</td></tr>
        @if (Context.Member().Exists)
        {
            if(Model.PracticeCount > 0){
                <tr><td><label asp-for="PracticeCount">Treninger i @DateTime.Now.Year</label></td><td class="playerStats--value">@Html.DisplayFor(m => m.PracticeCount)</td></tr>
            }
            <tr><td><label asp-for="Email"></label></td><td class="playerStats--value">@Html.DisplayFor(m => m.Email)</td></tr>
            <tr><td><label asp-for="Phone"></label></td><td class="playerStats--value"><a href="tel:@Model.Phone">@Model.Phone</a></td></tr>
        }
    </table>
    <div class="ajax-load" href="@Url.Action("GetStats", "Player", new {playerId = Model.Id})" ></div>
</div>


@if (Context.Request.IsAjaxRequest())
{
    <script>
        window.layout.pushState('@Html.Raw(Url.Action("Show", "Player", new {@name = Model.UrlName}).ToLower())', '@Html.Raw(Model.Fullname)')
    </script>
    @Html.Partial("_Alerts");
}
