@using System.Threading.Tasks
@model MyTeam.ViewModels.Table.CreateSeasonViewModel
@{
    ViewBag.Title = $"{Res.Create} {Res.Season.ToLower()}";
}
<div class="mt-main">
    <div class="mt-container">

        <form asp-action="CreateSeason" method="post" class="form-horizontal">
            @for (int i = 0; i < Model.Teams.Count(); i++)
            {
                <input type="hidden" asp-for="Teams[i].Id" />
                <input type="hidden" asp-for="Teams[i].Name" />
            }
            <div class="form-group">
                <label asp-for="TeamId" class="col-xs-2 control-label"></label>
                <div class="col-xs-10">
                    <select asp-for="TeamId" class="form-control">
                        @foreach (var team in Model.Teams)
                        {
                            <option selected="@(Model.TeamId == team.Id)" value="@team.Id">@team.Name</option>
                        }
                    </select>
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-xs-2 control-label"></label>
                <div class="col-xs-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="col-xs-2 control-label"></label>
                <div class="col-xs-10">
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="AutoUpdate" class="col-xs-2 control-label"></label>
                <div class="col-xs-1">
                    <input asp-for="AutoUpdate" type="checkbox" class="form-control" onclick="window.checkbox.showHideAssociatedElement(this, '#AutoUpdateTableWrapper')" />
                    <span asp-validation-for="AutoUpdate" class="text-danger"></span>
                </div>

                <span id="AutoUpdateTableWrapper" @(Model.AutoUpdate ? String.Empty : "hidden")>
                    <label class="col-xs-4 text-right input-label-valign">URL til tabell på fotball.no</label>
                    <span class="col-xs-5 "><input class="form-control " asp-for="SourceUrl" type="text" /></span>
                    <span asp-validation-for="SourceUrl" class="text-danger"></span>
                </span>

            </div>
            <div class="form-group">
                <label asp-for="AutoUpdateFixtures" class="col-xs-2 control-label"></label>
                <div class="col-xs-1">
                    <input asp-for="AutoUpdateFixtures" type="checkbox" class="form-control" onclick="window.checkbox.showHideAssociatedElement(this, '#AutoUpdateFixturesWrapper')" />
                    <span asp-validation-for="AutoUpdateFixtures" class="text-danger"></span>
                </div>

                <span id="AutoUpdateFixturesWrapper" @(Model.AutoUpdateFixtures ? String.Empty : "hidden")>
                    <label class="col-xs-4 text-right input-label-valign">URL til terminliste på fotball.no</label>
                    <span class="col-xs-5 "><input class="form-control " asp-for="FixturesSourceUrl" type="text" /></span>
                    <span asp-validation-for="FixturesSourceUrl" class="text-danger"></span>
                </span>

            </div>

            <div class="form-group">

                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">@Res.Save</button>
                </div>
            </div>
        </form>
    </div>
    </div>
