@using System.Threading.Tasks
@model MyTeam.ViewModels.Table.UpdateSeasonViewModel
@{
    ViewBag.Title = $"{Res.Update} {Res.Season.ToLower()}";
}

<div class="mt-main">
    @if (string.IsNullOrWhiteSpace(Model.TableString))
    {
        <div class="mt-container">
            <h3 class="col-xs-5">&nbsp;<i class="flaticon-football43"></i>&nbsp;&nbsp;@Html.DisplayFor(m => m.Team)</h3>
            <h3 class="col-xs-6">&nbsp;<i class="fa fa-calendar"></i>&nbsp;&nbsp;@Html.DisplayFor(m => m.DisplayNameShort)</h3>
            <a class="btn btn-danger pull-right confirm-dialog"
               asp-action="delete" asp-route-seasonId="@Model.SeasonId" title="@Res.Delete" data-message="@Res.ConfirmDelete"><i class="fa fa-trash"></i></a>
            <div class="col-xs-12">
                <hr />
                <form class="update-table-form" asp-action="UpdateSeason" method="post">
                    <input asp-for="SeasonId" type="hidden" />
                    <input asp-for="Team" type="hidden" />
                    <input asp-for="StartDate" type="hidden" />
                    <input asp-for="EndDate" type="hidden"/>
                    <div class="form-group clearfix col-xs-8 col-sm-4 no-padding">
                        <input class="form-control" type="text" asp-for="Name"/>
                    </div>
                    <br />
                    <div class="clearfix">
                        <br />
                    </div>
                    <div class="form-group clearfix">
                        <label asp-for="AutoUpdate" class="col-xs-4 no-padding control-label">
                            Oppdater tabell autom.&nbsp;&nbsp;
                            <input asp-for="AutoUpdate" type="checkbox" class="form-control" onclick="window.checkbox.showHideAssociatedElement(this, '#AutoUpdateTableWrapper')"/>
                        </label>
                        <div class="col-xs-8 no-padding flex">
                            <div class="flex-2">
                                <span id="AutoUpdateTableWrapper" @(Model.AutoUpdate ? String.Empty : "hidden")>
                                    <label class="col-xs-6">URL til tabell på fotball.no</label>
                                    <span class="col-xs-6 "><input class="form-control " asp-for="SourceUrl" type="text" /></span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group clearfix">
                        <label asp-for="AutoUpdateFixtures" class="col-xs-4 no-padding control-label">
                            Oppdater terminliste&nbsp;&nbsp;
                            <input asp-for="AutoUpdateFixtures" type="checkbox" class="form-control" onclick="window.checkbox.showHideAssociatedElement(this, '#AutoUpdateFixturesWrapper')" />
                        </label>
                        <div class="col-xs-8 no-padding flex">
                            <div class="flex-2">
                                <span id="AutoUpdateFixturesWrapper" @(Model.AutoUpdateFixtures ? String.Empty : "hidden")>
                                    <label class="col-xs-6 text-right">URL til terminliste på fotball.no</label>
                                    <span class="col-xs-6 "><input class="form-control " asp-for="FixturesSourceUrl" type="text" /></span>
                                </span>
                            </div>
                        </div>

                    </div>
                
                    <br />
                    <div class="clearfix">
                        <br />
                    </div>

                    <div class="form-group">
                        <div class="validation-red" asp-validation-summary="All"></div>
                        <button type="submit" class="btn btn-primary">@Res.Save</button>
                    </div>
                </form>
            </div>
        </div>
    }
  
</div>