@using System.Security.Policy
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MyTeam.Resources
@model MyTeam.ViewModels.Fine.IndexViewModel

@{
    ViewBag.Title = "Botoversikt";
}
<div class="mt-main fine">
    <div class="mt-container">
        <ul class="nav nav-pills mt-justified">
            <li class="active"><a asp-action="index" asp-controller="fine" asp-route-status=""><i class="fa fa-bar-chart"></i>&nbsp;Oversikt</a></li>
            <li class=""><a asp-action="list" asp-controller="fine"><i class="@Icons.Fine"></i>&nbsp;Alle bøter</a></li>
            <li class=""><a asp-action="index" asp-controller="remedyrate"><i class="fa fa-usd"></i>&nbsp;Bøtesatser</a></li>
        </ul>
    </div>
    <div class="mt-container">
        @if (Model.PaymentInfo.Due > 0){
            <div class="fine-userDue">
                <div class="pull-left">
                    <img src="@Context.Cloudinary().MemberImage(Model.PaymentInfo.Image, Model.PaymentInfo.FacebookId, 100, 100)" />
                </div>
                <div ><h3 class="text-left "><span class="no-wrap" >Du skylder: <span class="red">@Model.PaymentInfo.Due,-</span></span></h3>
                    <h5 class="text-left">Betalingsinformasjon:</h5> @Model.PaymentInfo.PaymentInfo
                </div>
            </div>
        }


        @if (Model.Years.Count() > 1)
            {
            <div class="pull-right">
                <select class="linkSelect form-control pull-right hidden-md hidden-lg">
                    @foreach (var year in Model.Years)
                {
                        <option value="@Url.Action("index", "Fine", new {aar = year })" selected="@(Model.SelectedYear == year)">@year</option>
                    }
                </select>
            </div>
        }
        <table class="listMembers tablesorter table col-xs-12">
            <thead>
                <tr>
                    <th class="nosort"></th>
                    <th>Navn</th>
                    <th class="text-center"><i class="fa fa-money"></i><span class="hidden-xs">&nbsp;&nbsp;Utestående</span></th>
                    <th class="text-center"><i class="fa fa-money"></i><span class="hidden-xs">&nbsp;&nbsp;Total</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.FineSummaries)
                {
                    <tr>
                        <td class="image">
                            <a asp-controller="fine" asp-action="list" asp-route-aar="@Model.SelectedYear" asp-route-memberid="@player.MemberId">
                                <img src="@Context.Cloudinary().MemberImage(player.PlayerImage, player.FacebookId, 50, 50)" />
                            </a>
                        </td>
                        <td>
                            <a asp-controller="fine" asp-action="list" asp-route-aar="@Model.SelectedYear" asp-route-memberid="@player.MemberId">
                                @player.Name
                            </a>
                        </td>
                        <td class="text-center red">
                            @if (player.Due > 0){<span>@player.Due,-</span>}
                        </td>
                        <td class="text-right">
                            @player.Total,-
                        </td>
                    </tr>

                }
            <tr>
                <td></td>
                <td></td>
                <td class="text-right">Total</td>
                <td class="text-right text-bold">@Model.TotalSum,-</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


@if (Model.Years.Count() > 1)
{
    <div class="mt-sidebar">
        <div class="mt-container">
            <ul class="nav nav-list">
                <li class="nav-header">@Res.Season.Pluralize()</li>
                @foreach (var year in Model.Years)
                {
                    <li><a class="@(Model.SelectedYear == year ? "active" : "")" asp-controller="fine" asp-action="index" asp-route-aar="@year">@year</a></li>
                }
            </ul>

        </div>
    </div>
}