@using System.Security.Policy
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using MyTeam.Resources
@using MyTeam.ViewModels.Fine
@model IEnumerable<RemedyRateViewModel>

@{ 
    ViewBag.Title = "Bøtesatser";
}
<div class="mt-main">
    <div class="mt-container">
        <ul class="nav nav-pills mt-justified">
            <li class=""><a asp-action="index" asp-route-status=""><i class="fa fa-bar-chart"></i>&nbsp;Oversikt</a></li>
            <li class=""><a asp-action="summary"><i class="@Icons.Fine"></i>&nbsp;Alle bøter</a></li>
            <li class="active"><a asp-action="rates"><i class="fa fa-usd"></i>&nbsp;Botsatser</a></li>
        </ul>
        <br />
        <table class="fine-rates table tablesorter col-xs-12">
            <thead>
                <tr>
                    <th>@Res.Name</th>
                    <th>@Res.Description</th>
                    <th>Sats</th>
                    @if (Context.UserIsInRole(Roles.Finemaster))
                    {
                        <th class="nosort"></th>
                    }
                </tr>
            </thead>
            <tbody id="fine-rates-tbody">
                @foreach (var rate in Model)
                { 
                  @Html.Partial("_ShowRate", rate)

                }
            </tbody>
        </table>
    </div>
    @if (Context.UserIsInRole(Roles.Finemaster))
    {
       @Html.Partial("_AddRate", new RemedyRateViewModel())
    }
      
</div>
