@using MyTeam.Models.Enums
@using MyTeam.Resources
@model MyTeam.ViewModels.Events.CreateEventViewModel

@if (Model.IsEditMode)
{
    <div class="col-xs-offset-1 col-xs-4 no-padding"><h2 class="no-margin" mt-eventtype="@Model.Type"></h2></div>
    <a class="btn btn-danger pull-right confirm-dialog"
       asp-action="delete" asp-route-eventId="@Model.EventId" title="@Res.Delete" data-message="@Res.ConfirmDelete"><i class="fa fa-trash"></i></a>
    <div class="clearfix"></div>
    <br/>
}
else
{
    <ul class="nav nav-pills mt-justified">
        @foreach (EventType type in Model.EventTypes)
        {
            <li class="@(type == Model.Type ? "active":"")"><a asp-route-type="@type"><span mt-eventtype="@type"></span></a></li>

        }
    </ul>
    <br />
}


<form asp-action="Create" method="post" class="form-horizontal" role="form">
    @*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@

    <input asp-for="Type" type="hidden" />
    <input asp-for="EventId" type="hidden" />

    <div class="col-sm-6 col-xs-12">

        <div class="form-group">
            <label mt-for="Date" mt-icon="calendar" class="col-xs-2 control-label"></label>
            <div class="col-xs-10">
                <input asp-for="Date" class="form-control datepicker" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label mt-for="Time" mt-icon="clock-o" class="col-xs-2 control-label"></label>
            <div class="col-xs-10">
                <input asp-for="Time" class="form-control timepicker" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label mt-for="Location" mt-icon="map-marker" class="col-xs-2 control-label"></label>
            <div class="col-xs-10">
                <input asp-for="Location" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Location)" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
      
    </div>
    <div class="col-sm-6 col-xs-12">
        @Html.Partial("_TrainingForm")
        @Html.Partial("_GameForm")
        @Html.Partial("_CustomEventForm")

        <div class="form-group">
            <label mt-for="Description" mt-icon="file-text-o" class="col-xs-2 control-label"></label>
            <div class="col-xs-10">
                <textarea asp-for="Description" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Description)"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6 col-xs-12">
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">@Res.Save</button>
            </div>
        </div>
    </div>
</form>
