@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata.Internal
@using MyTeam.Settings
@model IEnumerable<MyTeam.ViewModels.Events.RegisterAttendanceViewModel.RegisterAttendancePlayerViewModel>
<div class="row">
    <ul class="list-users col-xs-11 col-md-10">
        @foreach (var player in Model)
        {
            <li class="register-attendance-item">
                <img src="@Cloudinary.MemberImage(player.ImageSmall, 50)"/>@player.Name
                <input class="pull-right form-control register-attendance-input"
                       data-player-id="@player.Id"
                       data-event-id="@player.EventId"
                       type="checkbox"
                       @(player.Attendance?.DidAttend == true ? "checked" : "")/>
                <div class="ra-info-elements">
                    <span class="label label-success"><i class="fa fa-check-circle"></i> Lagret</span>
                    <span class="label label-danger"><i class="fa fa-warning"></i></span>
                    <i class="loader fa fa-spin fa-spinner"></i>
                </div>
            </li>
        }
    </ul>
</div>
