@using System.Linq
@using System.Threading.Tasks
@using Microsoft.AspNet.Mvc.Rendering
@using MyTeam.Models.Enums
@using MyTeam.Resources
@model MyTeam.Models.Domain.Event

<hr/>

<div class="show-upcoming-event">
    <div class="flex">
        <div class="flex-1 event-icon">
            <div>
                <span mt-eventtype="@Model.Type" mt-hidename="true"></span>
            </div>
        </div>
        <div class="flex-2">
            <p>
                <i class="fa fa-calendar"></i> @Model.DateTime.ToString("ddd d MMMM")
            </p>
            <p>
                <i class="fa fa-clock-o"></i> @Model.DateTime.ToString("HH:mm")
            </p>
            <p>
                <i class="fa fa-map-marker"></i> @Html.DisplayFor(m => m.Location)
            </p>
        </div>
        <div class="flex-3 ">
            <span class="description">
                @Html.DisplayFor(m => m.Description)
            </span>
        </div>
    </div>
    <div class="clearfix"></div>
</div>







