@using System.Threading.Tasks
@using MyTeam.Resources
@model IEnumerable<MyTeam.ViewModels.Events.EventViewModel>

@{
    ViewBag.Title = Res.CreateEvent;
}

<div class="mt-main">
    <div class="mt-container">
        @foreach (var ev in Model)
        {
            <div id="@ev.Id" class="flex">
                <div class="flex-5">
                    @Html.Partial("_Show", ev)
                </div>
                <div class="flex-1 align-center flex-center">
                    <a onclick="window.mt.deleteWithAjax(this)" data-parent="@ev.Id" style="margin-top: 40px;" class="btn btn-danger" data-href="@Url.Action("Delete", new { @eventId = ev.Id })" title="@Res.Delete"><i class="fa fa-trash"></i></a>
                </div>
            </div>
        }
    </div>
    </div>

    @Html.Partial("_CoachMenu")

