@using System.Threading.Tasks
@using Microsoft.Data.Entity.Metadata
@using MyTeam.Models.Enums
@using MyTeam.Resources
@model MyTeam.ViewModels.Events.UpcomingEventsViewModel

@{
    ViewBag.Title = Model.Title;
}

<div mt-main>
    <ul class="nav nav-pills nav-justified">
        @foreach (EventType type in Enum.GetValues(typeof(EventType)))
        {
            <li class="@(type == Model.Type ? "active":"")"><a asp-route-type="@type"><span mt-eventtype="@type"></span></a></li>

        }
    </ul>
    <br />

    @foreach (var ev in Model.Events)
    {
        @Html.Partial("_Show", ev)
    }
</div>

@Html.Partial("_CoachMenu")

<div mt-sidebar>


</div>