@using System.Threading.Tasks
@model MyTeam.ViewModels.Events.UpcomingEventsViewModel

@{
    ViewBag.Title = Model.Title;
}
<div class="mt-main">
    <div class="mt-container">
        <div class="clearfix">
            <div class="col-sm-6 col-xs-12 no-padding-left">
                <ul class="nav nav-pills mt-justified">
                    <li class="@(!Model.Previous ? "active" : "")"><a asp-controller="event" asp-action="index" asp-route-type="@Model.Type.ToString().ToLower()"><i class="@Icons.Upcoming hidden-xss"></i>&nbsp;@Res.Upcoming</a></li>
                    <li class="@(Model.Previous ? "active" : "")"><a asp-controller="event" asp-action="previous" asp-route-type="@Model.Type.ToString().ToLower()"><i class="@Icons.Previous hidden-xss"></i>&nbsp;@Res.Previous</a></li>
                </ul>
            </div>

            <div class="col-sm-offset-2 col-sm-4 hidden-xs no-padding-right">
                <ul class="nav nav-pills mt-justified">
                    @foreach (EventType type in Enum.GetValues(typeof(EventType)))
                    {
                        <li class="@(type == Model.Type ? "active" : "")"><a asp-route-type="@type.ToString().ToLower()"><span mt-eventtype="@type" mt-hidename="true"></span></a></li>
                    }
                </ul>
            </div>
        </div>

        @Html.Partial("_ListEvents", Model.Events)

        @if (!Model.Previous)
        {
            <div class="event-showAll">
                <a id="event-showAll" asp-controller="event" asp-action="index" asp-route-type="@Model.Type" asp-route-showall="true"><i class="fa fa-plus-circle"></i> Vis alle</a>
            </div>
        }
        else
        {
            @Html.Partial("_Pager", Model)
        }
    </div>
</div>
@Html.Partial("_CoachMenu")


@section Scripts
{
    <script src="~/compiled/scripts/event/list.js"></script>
}
